{{>join/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">이메일</th>
        <th scope="col">비밀번호</th>
    </tr>
    </thead>

    <tbody>
    {{#memberList}}
        <!--articleList의 사용 범위를 지정하였으므로, article에 담긴 id,title,content 를 머스테치 문법으로 변경-->
        <tr>
            <th scope="row">{{id}}</th>
            <td><a href="/onelist/{{id}}">{{email}}</a></td>
            <td>{{password}}</td>
        </tr>
    {{/memberList}}
    </tbody>
</table>
<a href="/member" class="btn btn-primary">회원가입</a>
{{>join/footer}}